#education {
    display: flex;
    align-items: center;
}

.education__container {
    flex: 1;
    display: flex;
    align-items: center;
}

.education__card,
.education__image {
    flex: 1;
    height: 100%;
}

.education__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 768px) {
    .education__image {
        display: none;
    }
}