.footer_menu {
    display: flex;
    align-items: center;
    column-gap: 2.8rem;
    margin-bottom: 20px;
}

.footer_menu a {
    color: #808dad;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.footer_menu a:hover {
    color: #01d293;
}

.footer_menu a:first-child {
    color: #01d293;
}

.footer_creator h4 {
    text-align: right;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.852);
}

@media only screen and (max-width: 768px) {
    .footer_top {
        display: none;
    }
}