.education-card {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ccc;
    width: 300px;
    height: 120px;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
  }
  
  .education-card:hover {
    transform: translateY(-10px);
    box-shadow: 2px 12px 20px #ccc;
  }
  
  .education-card i {
    color: #00bfff;
    font-size: 2rem;
  }
  
  .education-card h3 {
    margin: 0;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .education-card p {
    margin: 0;
    font-size: 0.8rem;
    color: #555;
  }
  
  .education-card::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 60px;
    height: 60px;
    background-color: #00bfff;
    z-index: -1;
  }